body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}
.heading{
    text-align: center;
}
footer{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: gray;
    color: blueviolet;
    width: 200px;
    height: 200px;
    
}
