body{
    background-color: antiquewhite;
}
.myspanclass{
    color: darkblue;
    font-size: 25px;
}
#myspanwithid{
    color: chocolate;
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li{
    list-style: disc;
}
.mybutton{
    background-color: darksalmon;
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}
.mybutton:hover{
    background-color: black;
    width: 150px;
}
a{
    text-decoration: none;
    color: inherit;
}
.myinput{
    width: 300px;
    height: 30px;
}